<h1>What is your current mood?</h1>
<p>Find me in app/views/home/mood.html.erb</p>
<form>
  <select name="Moods">
    <option>Happy</option>
    <option>Sad</option>
    <option>Angry</option>
    <option>Sarcastic</option>
    <option>Giddy</option>
    <option>Frustrated</option>

  </select>

  <button>Submit?</button>
</form>
