<h1>Tell Me Your Mood!</h1>
<p> Use the drop down menu to sellect your mood.</p>
<select>
  <option value="-----">-----</option>
  <option value="happy">Happy</option>
  <option value="sad">Sad</option>
  <option value="meh">Meh</option>
</select>
