<h1>Welcome to Solomon's Mood Generator</h1>

<%= form_tag do %>
  <%= select_tag "input_mood", options_for_select(["Happy","Sad", "Blah","Morose"]) %>

  <%= submit_tag%>
  <% end %>
<p> Your quote: <%= @quote%> </p>
